{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>Isabuhay - Adding Options</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!--
TemplateMo 570 Chain App Dev
https://templatemo.com/tm-570-chain-app-dev
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-chain-app-dev.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">

    <!-- Buttonsss -->

    <style>
      button{
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 25px;
        padding: 10px;
        width: 125px;
        color: white;
        border: none;
        background-image: linear-gradient(to right, rgb(88,110,236), rgb(43,217,252));
      }
    </style>

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="#" class="logo">
              <img src="{% static 'assets/images/logo.png' %}" alt="Chain App Dev">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="{% url 'DisplayClientSide' %}">Client Page</a></li>
              <li class="scroll-to-section"><a href="{% url 'DisplayAllCBCTestResult' %}">Reports</a></li>
              <li class="scroll-to-section"><a href="{% url 'DisplayAnalytics' %}">Analytics</a></li>
              <li class="scroll-to-section"><a href="{% url 'PromoOptions' 'pay' %}">Pay</a></li>
              {% if user.is_admin == True %}
              <li class="scroll-to-section"><a href="{% url 'DisplayAdminPage' %}">Admin</a></li>
              {% endif %}
              <li class="scroll-to-section"><a href="{% url 'DisplayAccountPage' %}">Account</a></li>
              <li class="scroll-to-section"><a href="{% url 'ShowChatRoom' %}">Messages</a></li>
              <li class="scroll-to-section"><a href="{% url 'LogoutView' %}">Sign Out</a></li>
            </ul>          
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div id="about" class="about-us section">
    <div class="container">
      {% include 'NotificationMessages.html' %}
      <div class="row">
        <div class="col-lg-6 align-self-center wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
          <div class="section-heading show-up header-text">
            <h4>CBC Test Result <em>Adding Options</em></h4>
            <img src="{% static 'assets/images/heading-line-dec.png' %}" alt="">
            <p>Choose the adding option most appropriate for you. You only have {{user.uploads}} available upload/s.</p>
            <p>Click <a href="https://drive.google.com/file/d/1wfdNdMxwtBAJ524oAN5qjKAYRsYHb-gS/view?usp=sharing" target="_blank">Here</a> to see a sample of the CBC Test Result.</p>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="{% url 'UploadCBCTestResultImage' %}">Upload Image</a></h4>
                <p>Upload .png or .jpg</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="{% url 'CaptureCBCTestResultImage' %}">Capture Image on PC</a></h4>
                <p>Take a picture using camera.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="{% url 'UploadCBCTestResultPDF' %}">Upload PDF</a></h4>
                <p>Upload .pdf</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="{% url 'UploadCBCTestResultDocument' %}">Upload Document</a></h4>
                <p>Upload .doc or .docx</p>
              </div>
            </div>
            <div class="col-lg-12">
              <p>Not finding what you need?</p>
              <div class="gradient-button" style="cursor: auto;">
                <a href="{% url 'DisplayAllCBCTestResult' %}">Go Back</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="{% static 'assets/images/about-right-dec.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
  <script src="{% static 'assets/js/animation.js' %}"></script>
  <script src="{% static 'assets/js/imagesloaded.js' %}"></script>
  <script src="{% static 'assets/js/popup.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>
  <script>
    setTimeout(function(){
      if ($('#msg').length > 0) {
        $('#msg').remove();
      }
    }, 3000)
  </script> 
</body>
</html>